<a href="https://colab.research.google.com/github/geethaammu/DataScience/blob/main/DS_Ex_1(c).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd

In [ ]:
df=pd.read_csv('/content/drive/MyDrive/2022 Games.csv')

In [ ]:
df.head()

,Title,rate,Year,certificate,genre,rate.1,story,director,votes count
0,God of War: Ragnarök,1.0,(2022 Video Game),M,"\nAction, Adventure, Drama",9.7,\nKratos and his son Atreus face the oncoming ...,\n Director:\nEric Williams\n ...,"10,204"
1,Elden Ring,2.0,(2022 Video Game),M,"\nAction, Adventure, Fantasy",9.4,\nIn a dark fantasy world created by Hidetaka ...,"\n Directors:\nHidetaka Miyazaki, \nYui Tan...","6,120"
2,Horizon Forbidden West,3.0,(2022 Video Game),T,"\nAction, Adventure, Sci-Fi",9.1,\nAloy treks into an arcane region and faces n...,\n Director:\nMathijs de Jonge\n ...,"4,042"
3,The Quarry,4.0,(2022 Video Game),M,"\nFantasy, Horror, Thriller",8.1,\nWhen the sun goes down on the last night of ...,\n Director:\nWill Byles\n ...,"3,106"
4,The Last of Us: Part I,5.0,(2022 Video Game),M,"\nAction, Adventure, Drama",9.8,\nExperience the emotional storytelling and un...,"\n Directors:\nMatthew Gallant, \nBruce Str...","2,478"

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 900 entries, 0 to 899
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Title        900 non-null    object
 1   rate         900 non-null    float64
 2   Year         900 non-null    object
 3   certificate  215 non-null    object
 4   genre        787 non-null    object
 5   rate.1       232 non-null    float64
 6   story        900 non-null    object
 7   director     900 non-null    object
 8   votes count  232 non-null    object
dtypes: float64(2), object(7)
memory usage: 63.4+ KB

In [ ]:
df.describe()

             rate      rate.1
count  900.000000  232.000000
mean   450.504444    7.359914
std    259.959621    1.128952
min      1.000000    2.900000
25%    225.750000    6.800000
50%    450.500000    7.500000
75%    675.250000    8.100000
max    902.000000    9.800000

In [ ]:
df.iloc[0:10]

,Title,rate,Year,certificate,genre,rate.1,story,director,votes count
0,God of War: Ragnarök,1.0,(2022 Video Game),M,"\nAction, Adventure, Drama",9.7,\nKratos and his son Atreus face the oncoming ...,\n Director:\nEric Williams\n ...,"10,204"
1,Elden Ring,2.0,(2022 Video Game),M,"\nAction, Adventure, Fantasy",9.4,\nIn a dark fantasy world created by Hidetaka ...,"\n Directors:\nHidetaka Miyazaki, \nYui Tan...","6,120"
2,Horizon Forbidden West,3.0,(2022 Video Game),T,"\nAction, Adventure, Sci-Fi",9.1,\nAloy treks into an arcane region and faces n...,\n Director:\nMathijs de Jonge\n ...,"4,042"
3,The Quarry,4.0,(2022 Video Game),M,"\nFantasy, Horror, Thriller",8.1,\nWhen the sun goes down on the last night of ...,\n Director:\nWill Byles\n ...,"3,106"
4,The Last of Us: Part I,5.0,(2022 Video Game),M,"\nAction, Adventure, Drama",9.8,\nExperience the emotional storytelling and un...,"\n Directors:\nMatthew Gallant, \nBruce Str...","2,478"
5,Stray,6.0,(2022 Video Game),E10+,"\nAdventure, Sci-Fi",8.4,"\nLost and separated from family, a stray cat ...","\n Directors:\nColas Koola, \nVivien Mermet...","2,378"
6,Lego Star Wars: The Skywalker Saga,7.0,(2022 Video Game),E10+,"\nAction, Adventure, Comedy",8.9,\nPlay through all nine Star Wars films in a L...,\n Director:\nJames McLoughlin\n ...,"1,991"
7,Call of Duty: Modern Warfare II,8.0,(2022 Video Game),M,"\nAction, Adventure, Crime",7.9,\nA sequel to 2019's modern warfare,\n Director:\nJeffrey Keith Negus\n ...,"1,520"
8,Dying Light 2: Stay Human,9.0,(2022 Video Game),M,"\nAction, Adventure, Horror",7.7,"\nFifteen years after the virus in Harran, the...","\n Directors:\nMarc Albinet, \nAdrian Cisze...","1,280"
9,A Plague Tale: Requiem,10.0,(2022 Video Game),M,"\nAction, Adventure, Drama",8.6,"\nAfter escaping their devastated homeland, Am...",\n Director:\nKevin Choteau\n ...,"1,010"

In [ ]:
df.shape

(900, 9)

In [ ]:
df.describe()

             rate      rate.1
count  900.000000  232.000000
mean   450.504444    7.359914
std    259.959621    1.128952
min      1.000000    2.900000
25%    225.750000    6.800000
50%    450.500000    7.500000
75%    675.250000    8.100000
max    902.000000    9.800000

In [ ]:
df.certificate

0        M
1        M
2        T
3        M
4        M
      ...
895    NaN
896    NaN
897    NaN
898      M
899    NaN
Name: certificate, Length: 900, dtype: object

In [ ]:
df[['Title','rate']]

                                     Title   rate
0                     God of War: Ragnarök    1.0
1                               Elden Ring    2.0
2                   Horizon Forbidden West    3.0
3                               The Quarry    4.0
4                   The Last of Us: Part I    5.0
..                                     ...    ...
895            Mount Chiliad 2: The Clowns  896.0
896                         RPGolf Legends  897.0
897                            Amok Runner  898.0
898                     Nightmare of Decay  901.0
899  Hearthstone: Murder at Castle Nathria  902.0

[900 rows x 2 columns]

In [ ]:
df.groupby('certificate')[['rate']].mean().head()

                   rate
certificate
Approved     546.000000
E            347.250000
E10+         223.738095
M            151.092593
Not Rated    387.111111

In [ ]:
df.groupby('certificate')[['rate']].mean().sort_values(['rate'],ascending=False).head()

                   rate
certificate
Approved     546.000000
Not Rated    387.111111
E            347.250000
T            252.986301
E10+         223.738095

In [ ]:
df.isnull().sum()

Title            0
rate             0
Year             0
certificate    685
genre          113
rate.1         668
story            0
director         0
votes count    668
dtype: int64